.content {
    max-width: 1200px;
    margin: auto;
  }

.untangle-header-1
{
    font-family: Lato;
    color: #ff0e62;
    font-size: 300%;
    padding: 3%;
}

.untangle-btn
{
    background-color: #ff0e62; 
    color:white; 
    font-size: 115%; 
    margin-left: 1rem;
    text-decoration: none;
}

.untangle-btn:hover
{
    color: #ff0e62;
    background-color: white;
    text-decoration: none;
}

.untangle-btn:active
{
    color: #ff0e62;
    background-color: white;
    border-color: #ff0e62;
    text-decoration: none;
}

.untangle-btn[type=submit]:active
{
    color: #ff0e62;
    background-color: white;
    border-color: #ff0e62;
    text-decoration: none;
}


.untangle-text
{
    font-family: Lato;
    color: #ff0e62;
    font-size: 133.33%;
    padding: 3%;
}

.untangle-signup
{
    padding: 5%;
    border-radius: 5%;
    background-color: white;
    height: 60%;
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    text-align: center;
    margin: auto;
}

.untangle-form-image
{
    margin-left: 23%;
    margin-right: 23%;
    width: 40%;
    text-align: center;
}

.signup-img
{
    height: 60%;
    width: 50%;
    margin-top: 15%;
    right: 10%;
    position:fixed;
    overflow: hidden;
}

.login-img
{
    right: 18%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.img-list
{
    height: 12%;
    width: 12%;
    padding: 2%;
}

.untangle-form-head
{
    color: #f5c0d2;
    border-bottom: solid 1px;
    margin-bottom: 2rem;
    margin-top: -1rem;
    font-size: 100%;
}

.untangle-text-active
{
    color:#ff0e62;
}

.untangle-text-disabled
{
    color:#f5c0d2;
}

.untangle-text-error
{
    color:#ff0e62;
    text-align: left;
}

.untangle-anchor-disabled:link
{
    text-decoration: none;
}

.untangle-form
{
    font-size: 100%;
    color: #525252;
    border-color: #ff0e62;
    display: block;
    border-radius: 5%;
    border-width: 3px;
    width: 100%;
    height: 100%;
    
}

.form-label .untangle-form .floating-label
{
    color: #525252;
}


.untangle-form::placeholder
{
    color: #525252;
}

a 
{
    color: #ff0e62;
    text-decoration: none;
}

a:link 
{
    color: #ff0e62;
    text-decoration: underline;
}

a:hover 
{
    color:#ff0e62; 
    text-decoration:none; 
    cursor:pointer;  
}
  
.row 
{
    display: flex;
    flex: auto;
    overflow: hidden;
}
  
  
.column-2 
{
    flex: 50%;
    padding: 4%;
    height: 50%;
}

.column-2-media-active
{
    flex: 50%;
}

.column-2-media-disabled
{
    flex: 50%;
}

.column-3 
{
    flex: 33.33%;
    padding: 4%;
    height: 60%;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

.bg-soft-magenta 
{
    background-color: rgba(255, 14, 98, 0.08);
}

.webapp-text
{
    font-family: Lato;
    color: #6f6f6f;
    font-size: 133.33%;
}

.webapp-shadow
{
    box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.5);
}

.small
{
    font-size: 100%;
}

.webapp-create:focus
{
    border-color: #ff0e62;
    box-shadow: 0 0 0 .25rem rgba(255, 14, 98, 0.5);
}

.webapp-item:hover
{
    background-color: rgba(100, 100, 100, 0.2);
}


.webapp-item
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.webapp-task-p0
{
    border-color: #6f6f6f;
    accent-color: #6f6f6f !important;
}

.webapp-task-p1
{
    border-color: #4d43b6;
    accent-color: #4d43b6 !important;
}

.webapp-task-p2
{
    border-color: #a2bb34;
    accent-color: #a2bb34 !important;
}

.webapp-task-p3
{
    border-color: #d42929;
    accent-color: #d42929 !important;
}

.webapp-task-p0:checked 
{
    background-color: #6f6f6f !important;
    border-color: #6f6f6f;
}

.webapp-task-p1:checked 
{
    background-color: #4d43b6 !important;
    border-color: #4d43b6;
}

.webapp-task-p2:checked 
{
    background-color: #a2bb34 !important;
    border-color: #a2bb34;
}

.webapp-task-p3:checked 
{
    background-color: #d42929 !important;
    border-color: #d42929;
}

.webapp-task-p0:focus
{
    border-color: #6f6f6f;
    box-shadow: 0 0 0 .25rem rgba(111, 111, 111, 0.5);
}

.webapp-task-p1:focus
{
    border-color: #4d43b6;
    box-shadow: 0 0 0 .25rem rgba(77, 67, 182, 0.5);
}

.webapp-task-p2:focus
{
    border-color: #a2bb34;
    box-shadow: 0 0 0 .25rem rgba(162, 187, 52, 0.5);
}

.webapp-task-p3:focus
{
    border-color: #d42929;
    box-shadow: 0 0 0 .25rem rgba(212, 41, 41, 0.5);
}

.webapp-item-title
{
    border-bottom: #D9D9D9 solid 2px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.webapp-item-tags
{
    margin-bottom: 5%;
    border-bottom: #D9D9D9 solid 1px;
}

#item_tags_display
{
    white-space: nowrap;
}

.webapp-item-tags-li
{
    color: #ff0e62;
    margin-right: 5%;
    display: inline-block;
}

.webapp-item-tags-ul
{
    list-style-type: none;
    display: inline;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track 
{
    background: rgba(111, 111, 111, 0.1);
    border-radius: 10px;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb
{
    background: rgba(111, 111, 111, 0.3);
    border-radius: 10px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover 
{
    background: rgba(111, 111, 111, 0.5);
}

@media (max-width: 1200px) 
{
    .row 
    {
        flex-direction: column;
    }
    div 
    {
        text-align: center;
    }
    img 
    {
        text-align: center;
    }
    .left
    {
        text-align: center;
    }
    .right
    {
        text-align: center;
    }
    .untangle-btn
    {
        margin-left: 0rem;
    }
    .untangle-signup
    {
        text-align: center;
    }
    .untangle-form
    {
        height: auto;
    }
    .signup-img
    {
        height:auto;
        width:auto;
        position:relative;
        margin-top: auto;
        right: auto;
        display: none;
    }
    .login-img
    {
        height:auto;
        width:auto;
        position:relative;
        margin-top: auto;
        right: auto;
        display: none;
    }
    .column-2-media-active
    {
        flex: auto;
        width: 100%;
    }
    .column-2-media-disabled
    {
        flex: none;
        display: none;
    }

}