.content {
    max-width: 1200px;
    margin: auto;
  }

.untangle-header-1
{
    font-family: Lato;
    color: #ff0e62;
    font-size: 300%;
    padding: 3%;
}

.untangle-btn
{
    background-color: #ff0e62; 
    color:white; 
    font-size: 115%; 
    margin-left: 1rem;
    text-decoration: none;
}

.untangle-btn:hover
{
    color: #ff0e62;
    background-color: white;
    text-decoration: none;
}

.untangle-btn:active
{
    color: #ff0e62;
    background-color: white;
    border-color: #ff0e62;
    text-decoration: none;
}

.untangle-btn[type=submit]:active
{
    color: #ff0e62;
    background-color: white;
    border-color: #ff0e62;
    text-decoration: none;
}


.untangle-text
{
    font-family: Lato;
    color: #ff0e62;
    font-size: 133.33%;
    padding: 3%;
}

.untangle-signup
{
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    height: 30vh;
    margin-left: 15vh;
    margin-right: 15vh;
    text-align: center;
}

.untangle-form
{
    font-size: 100%;
    color: #ff0e62;
    border-color: #ff0e62;
    display: block;
}

.untangle-form::placeholder
{
    color: #ff0e62;
}

a 
{
    color: #ff0e62;
    text-decoration: none;
}

a:link 
{
    color: #ff0e62;
    text-decoration: underline;
}

a:hover 
{
    color:#ff0e62; 
    text-decoration:none; 
    cursor:pointer;  
}


  
.row 
{
    display: flex;
}
  
  
.column-2 
{
    flex: 50%;
    padding: 4%;
    height: 50%;
}

.column-3 
{
    flex: 33.33%;
    padding: 4%;
    height: 60%;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

.bg-soft-magenta 
{
    background: #f5c0d2;
}


@media (max-width: 1200px) 
{
    .row 
    {
        flex-direction: column;
    }
    div 
    {
        text-align: center;
    }
    img 
    {
        text-align: center;
    }
    .left
    {
        text-align: center;
    }
    .right
    {
        text-align: center;
    }
    .untangle-btn
    {
        margin-left: 0rem;
    }
}