{% extends "layout_home.html" %}

{% block title %}
    home
{% endblock %}

{% block body %}
    <div class="row content">
        <div class="column-2">
            <h1 class="untangle-header-1">Do what matters most</h1>
            <p class="untangle-text">
                Untangle your thoughts and unlock a 
                clearer mind, by keeping track of tasks, 
                projects and notes, all in one place.
            </p>

            <a href="/signup" style="text-decoration: none;"><button type="button" class="btn untangle-btn">Sign Up for Free</button></a>
            <p class="untangle-text" style="font-size: 100%; padding: 3%">Already have an account? <a href="/login">Log In</a></p>
        </div>
        <div class="column-2">
            <img src="/static/untangler_1.png" alt="Untangler" width="960" height="504" class="img-fluid">
        </div>
    </div>

    <div class="row content">
        <div class="column-3 left">
            <img src="/static/placeholder.jpg" alt="Placeholder" width="320" height="320" class="img-fluid">
        </div>

        <div class="column-3">
            <h1 class="untangle-header-1" style="text-align: center;">All in one place</h1>

            <p class="untangle-text" style="text-align: center;">
                Manage your tasks and take complex notes in the same place.
            </p>

            <div class="row">
                <div class="column-2" style="text-align: left; height: 10%; padding: 0%;">
                    <ul class="untangle-text" style="list-style-type: none;">
                        <li><img src="/static/check.png" alt="Check" class="img-fluid img-list">Quick capture</li>
                        <li><img src="/static/check.png" alt="Check" class="img-fluid img-list">Reminders</li>
                        <li><img src="/static/check.png" alt="Check" class="img-fluid img-list">Lists</li>
                        <li><img src="/static/check.png" alt="Check" class="img-fluid img-list">Tags</li>
                    </ul>
                </div>

                <div class="column-2" style="text-align: right; height: 10%; padding: 0%;">
                    <ul class="untangle-text" style="list-style-type: none;">
                        <li>Note link<img src="/static/edit.png" alt="Note" class="img-fluid img-list"></li>
                        <li>Table<img src="/static/edit.png" alt="Note" class="img-fluid img-list"></li>
                        <li>Attachment<img src="/static/edit.png" alt="Note" class="img-fluid img-list"></li>
                        <li>Code box<img src="/static/edit.png" alt="Note" class="img-fluid img-list"></li>
                    </ul>
                </div>
            </div>
            
            <p class="untangle-text" style="text-align: center;">
                And much more!
            </p>
        </div>

        <div class="column-3 right">
            <img src="/static/placeholder.jpg" alt="Placeholder" width="320" height="320" class="img-fluid">
        </div>
        
    </div>

    <div class="bg-soft-magenta">
        <div class="row content">
            <div class="column-2 left">
                <img src="/static/placeholder.jpg" alt="Placeholder" width="320" height="320" class="img-fluid">
            </div>
            <div class="column-2" style="flex-basis: 30%;">
                <h1 class="untangle-header-1">Capture, clarify and connect</h1>
                <p class="untangle-text">
                    Understand and organize your tasks, lists and projects, linking them all together.
                </p>
            </div>
        </div>
    </div>

    <div class="row content">
        <div class="column-2" style="flex-basis: 30%;">
            <h1 class="untangle-header-1">More than a digital notebook</h1>

            <p class="untangle-text">
                Journal, study or take any kind of notes, linking them to each other and to your tasks.
            </p>
        </div>
        <div class="column-2 right">
            <img src="/static/placeholder.jpg" alt="Placeholder" width="320" height="320" class="img-fluid">
        </div>
    </div>

    <div class="content">
        <h1 class="untangle-header-1" style="text-align: center;">Do what matters most</h1>
        <a href="/signup" style="text-decoration: none;"><button type="button" class="btn untangle-btn" style="margin-left: auto; margin-right: auto; display: block">Sign Up for Free</button></a>
    </div>

{% endblock %}