{% extends "layout.html" %}

{% block body_layout %}
    <nav class="navbar shadow" style="background-color: white; border-color: white; position: fixed; width:100%; top: 0%;">
        <div class="container-fluid" style="background-color: white; border-color: white;">
            <a class="content navbar-brand" href="/">
                <img src="/static/logo+name.png" alt="Logo" width="200" height="80" class="img-fluid d-inline-block align-text-top">
            </a>
            <ul class="nav nav-pills content">
                <li class="nav-item">
                  <a class="nav-link" href="/login" style="color:#ff0e62; text-decoration: none;">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/signup" style="background-color: #ff0e62; text-decoration: none;">Sign Up for Free</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="margin-top: 4rem">
        {% block body %}{% endblock %}
    </div>
    <footer class="untangle-text bg-soft-magenta" style="font-size: 80%; margin-top: 2rem; padding: 1%">
        <div class="content">@2024 untangle</div>
    </footer>
{% endblock %}