{% extends "layout_log.html" %}

{% block title %}
    signup
{% endblock %}

{% block body_layout %}
<div class="row" style="margin: 0;">
    <div class="column-2 bg-soft-magenta column-2-media-active" style="height: 100vh">
        <div class="content">
            <a class="untangle-form-image" href="/">
                <img src="/static/logo+name.png" alt="Logo" width="200" height="80" class="img-fluid d-inline-block align-text-top">
            </a>
            <div class="untangle-signup">
                <div class="untangle-text untangle-form-head" style="text-align: left;">
                    <a class="untangle-anchor-disabled" href="/signup"><b class="untangle-text-active" style="margin-right: 0.5rem;">Sign Up</b></a>
                    <a class="untangle-anchor-disabled" href="/login"><b class="untangle-text-disabled">Log In</b></a>
                </div>
                <form action="/signup" method="post">
                    <div class="form-floating mb-3">
                        <input autocomplete="off" autofocus class="form-control untangle-form" name="email" placeholder="E-mail" type="email" id="emailAddress">
                        <label class="form-label untangle-form" for="emailAddress" style="color:#ff0e62;">E-mail</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control untangle-form" name="password" placeholder="Password" type="password" id="typePassword">
                        <label class="form-label untangle-form" for="typePassword" style="color:#ff0e62;">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control untangle-form" name="confirmation" placeholder="Confirm Password" type="password" id="confirmPassword">
                        <label class="form-label untangle-form" for="confirmPassword" style="color:#ff0e62;">Confirm password</label>
                    </div>
                    <button class="btn untangle-btn" type="submit" style="margin-left: auto; margin-right: auto; display: block; width: 100%;">Register</button>
                </form>
                {% if error %}
                    <div class="untangle-text-error"><b>Error:</b> {{error}}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column-2 column-2-media-disabled" style="background-color: white; height: 100vh">
        <div class="content">
            <img src="/static/untangle-art-1.png" alt="Untangle Art" class="img-fluid signup-img">
        </div>
    </div>
</div>
{% endblock %}