{% extends "layout_webapp.html" %}

{% block title %}
    app
{% endblock %}

{% block body_layout %}
<div class="row" style="margin: 0;">
    <div class="column-3" style="flex: 10%; background-color: aqua; height: 100vh;">
        <div class="webapp-text">
            My Space
        </div>
        <form action="/logout" >
            <button type="submit">LOGOUT</button>
        </form>

    </div>
    <div class="column-3" style="flex: 50%; background-color: yellow; height: 100vh">
        xxxx
    </div>
    <div class="column-3" style="flex: 25%; background-color: blue; height: 100vh">
        xxxx
    </div>
</div> 
{% endblock %}