{% extends "layout_webapp.html" %}

{% block title %}
    webapp
{% endblock %}

{% block body_layout %}
<div class="row" style="margin: 0;">
    <meta name="filter-type" content="list">
    <meta name="filter-applied" content="{{ inbox_id }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <div class="column-3 shadow bg-body content" style="flex: 10%; height: 100vh; padding: 2%; overflow: auto;">
        <div class="webapp-text">
            <img src="/static/user.png" alt="Notes" class="img-fluid img-list">
            <button type="button" class="btn webapp-text" data-bs-toggle="modal" data-bs-target="#mySpace" id="modalButton">
                My Space
            </button>
            <div class="modal fade" id="mySpace" tabindex="-1" aria-labelledby="mySpaceLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title webapp-text" id="mySpaceLabel">My Space</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <form action="/webapp">
                            <div style="display: flex; flex: 0.5; flex-direction: column;"><button type="submit" class="btn webapp-submit-button" style="font-size: 100%; margin: 5% 0%;">Webapp</button></div>
                        </form>
                        <form action="/logout">
                            <div style="display: flex; flex: 0.5; flex-direction: column;"><button type="submit" class="btn webapp-submit-button" style="font-size: 100%; margin: 0% 0%;">Log Out</button></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn webapp-close-button" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="webapp-text small">
            <ul style="list-style-type: none; padding: 0%;">
                <li>
                    <img src="/static/edit-grey.png" alt="Notes" class="img-fluid img-list">
                    <button type="button" class="btn webapp-filter-button-main" onclick="resetFilteredItems(event)" id="filter_note">
                        Note Manager
                    </button>
                </li>
                <li>
                    <img src="/static/check-grey.png" alt="Tasks" class="img-fluid img-list">
                    <button type="button" class="btn webapp-filter-button-main" onclick="resetFilteredItems(event)" id="filter_task">
                        Task Manager
                    </button>
                </li>
                <li></li>
                    <img src="/static/check-square4.png" alt="Search" class="img-fluid img-list">
                    <button type="button" class="btn webapp-filter-button-main" onclick="resetFilteredItems(event)" id="filter_completed">
                        Completed
                    </button>
                </li>
                <li>
                    <img src="/static/search.png" alt="Search" class="img-fluid img-list">
                    <button type="button" class="btn webapp-filter-button-main" onclick="openSearch(event)">
                        Search
                    </button>
                </li>
            </ul>
            <div id="lists_div">
                <div class="webapp-filter-display">
                    <div class="webapp-filter">Lists</div>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#createList" class="btn webapp-add-button">+</button>
                    <div class="modal fade" id="createList" tabindex="-1" aria-labelledby="createListLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title webapp-text" id="createListLabel">Create List</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                <form action="/create-list" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <div class="rounded p-3 bg-body-tertiary" style="display: flex;">
                                        <select class="bg-body-tertiary webapp-list-select-emoji" name="list_emoji">
                                            {% for emoji in emojis %}
                                                <option>{{ emoji }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="text" class="form-control webapp-text small bg-body-tertiary webapp-create-list" maxlength="30" name="create_list" id="list_name" placeholder="Create list" aria-label="Item" aria-describedby="addon-wrapping">
                                    </div>
                                    <div style="display: flex; flex: 0.5; flex-direction: column;"><button type="submit" class="btn webapp-submit-button" style="font-size: 100%; margin: 5% 0%;">Create</button></div>
                                </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn webapp-close-button" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <ul style="list-style-type: none; padding: 0%;" >
                    {% for list in lists %}
                        <li>
                            <div class="webapp-text small webapp-filter-name">
                                <div class="webapp-icon">{{ list.list_icon }}</div>
                                <div class="webapp-filter-button-wrapper">
                                    <button type="button" class="btn webapp-filter-button" onclick="resetFilteredItems(event)" name="{{ list.list_name }}" id="list_{{ list.id }}">
                                        {{ list.list_name }}
                                    </button>
                                </div>
                                {% if list.list_name != "Inbox" %}
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#updateList" class="btn webapp-add-button" id="button_list_{{ list.id }}" onclick="updateList(event)">...</button>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="modal fade webapp-text" id="updateList" tabindex="-1" aria-labelledby="updateListLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title webapp-text" id="updateListLabel">Edit List</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            <meta name="update-list" content="">
                                <form action="/update-list" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="edit_list_id" id="edit_list_id" value="">
                                    <div class="rounded p-3 bg-body-tertiary" style="display: flex;">
                                        <select class="bg-body-tertiary webapp-list-select-emoji" name="edit_list_emoji" id="edit_list_icon">
                                            {% for emoji in emojis %}
                                                <option>{{ emoji }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="text" class="form-control webapp-text small bg-body-tertiary webapp-create-list" maxlength="30" name="edit_list" id="edit_list_name" placeholder="Edit list" aria-label="Item" aria-describedby="addon-wrapping">
                                    </div>
                                    <div style="display: flex; flex: 0.5; flex-direction: column;"><button type="submit" class="btn webapp-submit-button" style="font-size: 100%; margin: 5% 0%;">Update</button></div>
                                </form>
                                <div>
                                    <form action="/delete-list" method="post" style="display: flex; flex-direction: column;">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <input type="hidden" name="delete_list_id" id="delete_list_id" value="">
                                        <button type="submit" class="btn webapp-submit-button delete" style="font-size: 100%; margin: 0% 0%">Delete</button>
                                    </form>
                                </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn webapp-close-button" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column-3 content" style="flex: 50%; height: 100vh; padding: 2%; overflow: auto;" id="list_item_column">
        <form action="/create" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="input-group flex-nowrap shadow-sm">
                <input type="text" class="form-control p-3 bg-body-tertiary rounded webapp-text webapp-create" maxlength="200" name="create_item" id="create_bar" placeholder="+ Add task or note" aria-label="Item" aria-describedby="addon-wrapping">
            </div>
        </form>
        <div>
            <ul style="list-style-type: none; padding: 0%;" id="webapp_items_list_display">
                {% for item in items %}
                {% if item.item_status == 0 and item.list_id == inbox_id %}
                <li>
                    {% if item.item_type == "note" %}
                        <div class="shadow p-3  webapp-text rounded webapp-item" onclick="itemListener(event)" id="{{ item.id }}">
                            <img src="/static/edit.png" alt="Notes"><div class="webapp-item-title-text" onclick="itemListener(event)">{{ item.title }}</div>
                        </div>
                    {% elif item.item_type == "task" %}
                        <div class="shadow p-3  webapp-text rounded webapp-item" onclick="itemListener(event)" id="{{ item.id }}">
                        <input class="form-check-input webapp-task-p{{ item.item_priority }}" type="checkbox" oninput="itemListener(event)"><div class="webapp-item-title-text" onclick="itemListener(event)">{{ item.title }}</div>
                        </div>
                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="column-3 shadow bg-body content edit_item_column" style="flex: 25%; height: 100vh; padding: 2%;">
        <div id="item_header_display">
            <div class="webapp-text small" id="item_check_display"></div>
            <div class="webapp-text small" id="item_deadline_display"></div>
            <div class="webapp-text small" id="item_priority_display"></div>
        </div>
        <div class="webapp-text" >
            <div id="item_title_display"></div>
        </div>
        <div class="webapp-text small" id="item_tags_display"></div>
        <div class="webapp-text" id="item_body_display"></div>
        <div id="item_footer_display">
            <div class="webapp-text small" id="item_list_display"></div>
            <div class="webapp-text small" id="item_type_display"></div>
            <div class="webapp-text small" id="item_delete_display"></div>
        </div>
    </div>
</div> 
<script>
    let itemsData = {{ items|tojson }};
    let tagsData = {{ tags|tojson }};
    let listsData = {{ lists|tojson }};

    async function fetchData() 
    {
        itemsData = await selectDatabase("items");
        tagsData = await readDatabase("tags");
        listsData = await readDatabase("lists");
        console.log(itemsData, tagsData, listsData);
        document.dispatchEvent(fetchDataCalled);
    }

    window.addEventListener('resize', adjustTextareaHeight);
    window.addEventListener('load', adjustTextareaHeight);
    document.addEventListener('updateDatabaseCalled', fetchData);
    document.addEventListener('fetchDataCalled', updateItemTitle);
    document.addEventListener('fetchDataCalled', updateType);
    document.addEventListener('fetchDataCalled', updateCheckBox);
</script>
{% endblock %}