{% extends "layout_webapp.html" %}

{% block title %}
    app
{% endblock %}

{% block body_layout %}
<div class="row" style="margin: 0;">
    <div class="column-3 shadow bg-body content" style="flex: 10%; height: 100vh; padding: 2%;">
        <div class="webapp-text">
            <img src="/static/check.png" alt="User" class="img-fluid img-list">My Space
        </div>
        <div class="webapp-text small">
            <ul style="list-style-type: none; padding: 0%;">
                <li><img src="/static/edit.png" alt="Notes" class="img-fluid img-list">Note Manager</li>
                <li><img src="/static/check.png" alt="Tasks" class="img-fluid img-list">Task Manager</li>
                <li><img src="/static/check.png" alt="Search" class="img-fluid img-list">Search</li>
            </ul>
        </div>
        <form action="/logout" >
            <button type="submit">LOGOUT</button>
        </form>

    </div>
    <div class="column-3 content" style="flex: 50%; height: 100vh; padding: 2%;">
        <form action="/create" method="post">
            <div class="input-group flex-nowrap shadow-sm">
                <span class="input-group-text p-3 bg-body-tertiary rounded webapp-text" id="addon-wrapping">+</span>
                <input type="text" class="form-control p-3 bg-body-tertiary rounded webapp-text webapp-create" placeholder="Add task or note" aria-label="Item" aria-describedby="addon-wrapping">
            </div>
        </form>
        <div>
            <ul style="list-style-type: none; padding: 0%;">
                {% for item in items %}
                <li>{{ item.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="column-3 shadow bg-body content" style="flex: 25%; height: 100vh; padding: 2%;">
        xxxx
    </div>
</div> 
{% endblock %}